<h1>📊 <%= month %> <%= year %></h1>

<canvas id="weightChart" width="600" height="300"></canvas>

<script>
    let filteredWeights = <%- JSON.stringify(filteredWeights) %>;
    let data = []
    let comments = []

    filteredWeights.sort(function(a, b) {
        return new Date(a.date) - new Date(b.date);
    })
    let dates = []

    for (let i = 0; i < filteredWeights.length; i++) {
        data.push(filteredWeights[i].weight)
        let a = new Date(filteredWeights[i].date)
        console.log(a)
        dates.push(`${a.getUTCDate()}`)
        comments.push(filteredWeights[i].comment)
    }


const ctx = document.getElementById('weightChart').getContext('2d');

const chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dates,
        datasets: [{
            label: 'Вес (кг)',
            title: 'ddd',
            data: data,
            comments: comments,
            borderColor: 'blue',
            backgroundColor: 'rgba(0, 0, 255, 0.1)',
            tension: 0.3
        }]
    },
    options: {
        plugins: {
            tooltip: {
                callbacks: {
                    label: function(context) {
                        let datasetLabel = context.dataset.label || ''
                        let value = `${datasetLabel}: ${context.formattedValue} кг`
                        let comment = `Комментарий: ${context.dataset.comments[context.dataIndex] || ''}`
                        return [value, comment]
                    }
                }
            }
        },
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
});

</script>

<p>📉 Минимальный вес: <strong class="min-weight">74.7 кг</strong></p>
<p>📈 Максимальный вес: <strong class="max-weight">75.5 кг</strong></p>
<p>⚖ Средний вес: <strong class="middle-weight">75.1 кг</strong></p>

<div class="all-weights-month">
<form method="post">
    <div class="row">
        <div class="w-auto">
    <ul class="list-group mt-2 mb-2">
  <% filteredWeights.forEach(i => { %>
        <li class="list-group-item d-flex align-items-center gap-3">
      <a class="text-decoration-none" href="/weights/<%- i._id %>"><%= i.date.getUTCDate() %>.<%= i.date.getMonth() + 1 %>.<%= i.date.getFullYear() %> - <%= i.weight %> кг</a>
      <button class="btn btn-primary" type="submit" formaction="/delete/<%= i._id %>">Удалить</button>
      </li>
  <% }) %>
  </ul>
  </div>
  </div>
</form>
</div>

<p><a class="text-decoration-none" href="/">⬅ Вернуться к списку месяцев</a></p>
<script>
    let minWeight = document.querySelector('.min-weight')
    let maxWeight = document.querySelector('.max-weight')
    let middleWeight = document.querySelector('.middle-weight')
    let allWeightsInMonth = document.querySelector('.all-weights-month')

    let maxValue = Math.max.apply(null, data)
    let minimum = Math.min(...data)
    let middle = 0
    for (let i = 0; i < data.length; i++) {
        middle = middle + data[i]
    }
    middle = middle / data.length
    middle = Math.floor(middle)

    minWeight.textContent = minimum
    maxWeight.textContent = maxValue
    middleWeight.textContent = middle
</script>

